.chat-main
  .chat-main__group-info
    .group-info__left
      .group-info__group-name
        = @group.name
      .group-info__group-member
        Member:
        - @group.users.each do |user|
          = user.name
    .group-info__right
      = link_to edit_group_path(@group.id) do
        EDIT
  .chat-main__message-list
    = render partial: 'message', collection:@messages
  .chat-main__message-form
    =form_for [@group,@message] do |f|
      .message-form__box
        =f.text_field :body, class:'message-form__text',placeholder: "type a message"
        =f.label :image, class: 'message-form__image' do
          = icon('fas', 'image')
          =f.file_field :image, class: 'message-form__file-select'
      =f.submit 'Send', class: 'message-form__send-btn'